<nav class ="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <a routerLink="/" class="navbar-brand">AI/ML Resource Guide</a>
     </div>

     <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
         <li routerLinkActive="active"><a routerLink="/resources">Resources</a></li>
         <li routerLinkActive="active"><a routerLink="/resource-roadmap">Resource Roadmap</a></li>
       </ul>

       <ul class="nav navbar-nav navbar-right">
         <li class="dropdown" appDropdown>
           <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
           <ul class="dropdown-menu">
             //lines 18 and 19 differ
             <li><a style="cursor: pointer;" class="dropdown-toggle">Save Data</a></li>
             <li><a style="cursor: pointer;" class="dropdown-toggle">Fetch Data</a></li>
           </ul>
         </li>
       </ul>
    </div>
  </div>
</nav>