<div class="row">
  <div class="col-xs-12">
    <img
      [src]="resource.imagePath"
      alt="{{ resource.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ resource.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Resource <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToResourceRoadmap()" style="cursor: pointer;">To Resource Roadmap</a></li>
        <li><a style="cursor: pointer;" (click)="onEditResource()">Edit Resourcee</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteResource()">Delete Resource</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ resource.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let conceptualcheckpoint of resource.conceptualcheckpoints">
        {{ conceptualcheckpoint.name }} - {{ conceptualcheckpoint.amount }}
      </li>
    </ul>
  </div>
</div>
