<div class ="row">
  <div class="col-xs-12">
    <img src="resource.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ resource.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <div class="btn-group">
       <button
         type="button"
         class="btn btn-primary dropdown-toggle">
         Manage Resource <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
        <li><a href="#">Add Conceptual Checkpoint to Roadmap</a></li>
        <li><a href="#">Edit Resource</a></li>
        <li><a href="#">Delete Resource</a></li>
       </ul>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Checkpoints
  </div>
</div>
